{% extends 'LandregKnowmanBundle:Admin/Layout:front-facade.html.twig' %}

{% block preview %}
    <div class="sonata-ba-view">
        <div>
            <h3>{{ object.title|raw }}</h3>
            <div>{{ object.body|raw }}</div>
        </div>
    </div>
{% endblock %}


{% block previewForm %}
    {{ block('parentForm') }}
{% endblock %}