{% extends 'LandregKnowmanBundle:Admin/Layout:front-facade.html.twig' %}

{% block preview %}
    <div class="sonata-ba-view">
        <div>
            <h1>{{ object.title }}</h1>
            {% for item in object.items %}
                <div>
                    <h3>{{ item.title|raw }}</h3>
                    <div>{{ item.body|raw }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block previewForm %}
    {{ block('parentForm') }}
{% endblock %}