{% extends 'LandregKnowmanBundle:Admin/Layout:front-facade.html.twig' %}

{% block preview %}
    <div class="sonata-ba-view">
        <div>
            <h1>{{ object.title }}</h1>
            <div>
                {% for item in object.items %}
                    <h3>{{ item.title }}</h3>
                    <div>{{ item.body }}</div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}


{% block previewForm %}
    {{ block('parentForm') }}
{% endblock %}