{% extends 'LandregKnowmanBundle:Admin/Article:preview.html.twig' %}

{% block previewForm %}
<a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-danger" type="submit" name="btn_preview_decline"/>{% trans from 'SonataAdminBundle' %}action_edit{% endtrans %} </a>
<a href="{{ admin.generateObjectUrl('list', object) }}" class="btn btn-success" type="submit" name="btn_preview_decline"/>{% trans from 'LandregKnowmanBundleAdmin' %}action_back_to_list{% endtrans %} </a>
{% endblock %}