{% extends 'LandregKnowmanBundle:Admin/Layout:front-facade.html.twig' %}

{% block previewForm %}<a href="{{ admin.generateObjectUrl('edit', object) }}" class="btn btn-danger" type="submit" name="btn_preview_decline"/>{% trans from 'SonataAdminBundle' %}action_edit{% endtrans %} </a>{% endblock %}